.invoice-before-table-radio{
    margin-bottom: 60px;
    >div>div{
        flex: 1;
    }
    h3{
        font-size: 20px;
        margin-right: 30px;
        white-space: nowrap
    }
}

.th-style{
    background-color: $color-primary;
    color: #fff;
}

#dashboard.invoice{
    .document-info{
        span{
            white-space: nowrap;
            margin-right: 20px;
            display: inline-block;
            min-width: 80px;
        }
        input{
            border-radius: 0;
            height: 40px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
    }
    #invoice01-table01{
        display: flex;
        justify-self: start;
        width: 100%;
        tbody{
            flex: 1;
            td{
                width: 35%;
            }
        }
        th{
            width: 18%;
            min-width: 16%;
            text-align: left;
        }
        .narrow-th-style{
            width: 30px;
        }
    }
    #invoice01-table03,
    #invoice01-table04{
        th{
            min-width: auto;
        }
    }
    .radio-lists{
        height: 35px;
    }
    .input-border-style {
        height: 40px;
        border: 1px solid #eee!important
    }
}

#dashboard.invoice02{
    .radio-lists{
        height: 55px;
    }
} 

.modal-summary-content{
    textarea{
        padding: 20px;
        min-width: 50%;
        border-color: #eee;
    }
    textarea,table{
        flex: 1;
        width: 50%;
    }
    table{
        margin-left: 50px;
    }
    tr{
        display: flex;
        flex-wrap: wrap;
        th,td{
            width: 50%;
        }
    }
}

@media (max-width: 1400px){
    #dashboard.invoice{
        #invoice01-table01{
            display: block;
            td{
                width: 35%;
            }
        }
    }
}
@media (max-width: 1000px){
    .invoice-before-table-radio>div{
        display: block!important;
    }
    .invoice-before-table-radio>div>div{
        margin-left: 0!important;
        margin-bottom: 10px;
    }
}
@media (max-width: 860px){
    .modal-summary-content{
        display: block!important;
        textarea,table{
            width: 100%;
        }
        table{
            margin: 20px 0 0 0 
        }
    }
}
@media (max-width: 767px){
    .invoice-before-table-radio{
        margin-bottom: 30px;
    }
    .invoice-before-table-radio>div>div{
        display: block!important;
    }
    #dashboard.invoice{
        .document-info{
            margin-top: 30px;
            font-size: 14px;
            span{
                min-width: 55px;
                margin-right: 10px;
            }
        }
        .mobile-full-width{
            width: 100%!important;
        }
        .dashboard-table-wrap table td, .dashboard-table-wrap table th{
            padding: 10px 5px;
            font-size: 14px;
        }
        h3{
            font-size: 16px;
        }
        .custom-checkbox{
            height: 30px;
        }
        label,input,
        .custom-checkbox .label-txt small{
            font-size: 14px;
        }
        #invoice01-table01{
            tr{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
            }
            .narrow-th-style{
                width: 100%;
                text-align: center;
                br{
                    display: none;
                }
            }
            th{
                width: 35%;
                padding: 10px;
            }
            td{
                width: 65%!important;
                padding: 5px;
            }
        }
        #invoice01-table02{
            tbody{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
            }
            tr{
                &:first-child{
                    display: flex;
                    th{
                        width: calc(100%/3);
                        min-width: calc(100%/3);
                        height: 38px;
                    }
                }
                &:nth-child(3),
                &:nth-child(4){
                    display: flex;
                    text-align: center;
                    th,td{
                        width: 100%;
                    }
                }
            }
            .writeForm{
                display: flex;
                flex-direction: column;
                th,td{
                    width: 100%;
                }
            }
        }
        #invoice01-table03{
            th{
                min-width: 88px;
            }
        }
        .invoice01-table03-wrap{
            overflow: scroll;
        }
        #invoice01-table04{
            tr{
                display: flex;
                flex-wrap: wrap;
            }
            th{
                width: 20%;
                &:last-child{
                    display: none;
                }
            }
            td{
                width: 20%;
                &:last-child{
                    width: 100%;
                }
            }
        }
        .button-wrap{
            display: block!important;
        }
        .table-btn-lists{
            button{
               height: 45px;
               width: 81px;
            }
            li + li{
                margin-left: 5px;
            }
        }
    }
    #dashboard.invoice02 {
        .button-wrap{
            display: flex!important
        }
    }
}