@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
// font-family: "Pretendard";

body, a{
   font-family: "Pretendard";
    color: $color-black;
}
.hidden{
    display: none!important;
}
.visible{
    display: block!important;
}
.font-bold{
    font-weight: 600!important;
}
.color-primary{
    color: $color-primary;
}

