@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
// font-family: "Pretendard";

body, a{
   font-family: "Pretendard";
   color: $color-black;   
   line-height: 1.3; 
}
.hidden{
    display: none!important;
}
.visible{
    display: block!important;
}
.font-bold{
    font-weight: 600!important;
}
.color-primary{
    color: $color-primary;
}
select,
input{
    outline: none;
}
.d-flex{
    display: flex;
    align-items: center;
}
.mobile-hidden{
    display: none;
}
button{
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
    color: $color-primary;
    &.fill{
        border: none;
        &.primary{
            background-color: $color-primary;
            color: $color-white;
        }
        &.light-grey{
            background-color: #aaa;
            color: $color-grey;
        }
        &:hover{
            opacity: 0.9;
        }
    }
    &.line{
        border: 1px solid #000;
        background-color: $color-white;
        &.primary{
            border-color: $color-primary;
            color: $color-primary;
            &:hover{
                background-color: $color-primary;
                color: $color-white;
            }
        }
        &.light-grey{
            border-color: #aaa;
            color: $color-grey;
            &:hover{
                background-color: #aaa;
                color: $color-grey;
            }
        }
    }
}
table{
    thead{
        th{
            position: sticky;
            left: 0; top: 0;
        }
    }
}
// AGREE CHECKBOX
.custom-checkbox{
    position: relative;
    width: 120px;
    .label-txt{
        padding-left: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        small{
            font-size: 16px;
            font-weight: 400;
            color: $color-primary;
            display: inline-block;
            white-space: nowrap;
            line-height: 25px;
        }
        .btn{
            background-color: transparent;
            border-radius: 0;
            border: none; 
            outline: none;
            font-size: 14px;
            color: $color-disable;
            text-decoration: underline;
            font-weight: 400;
            box-shadow: none;
            color: $color-disable!important;
        }
    }
    input[type="checkbox"] {width: 0;height: 0;
        opacity: 0;
        position: relative;left: 0; top: 0;
        z-index: 10000;
        cursor: pointer;
    }
    input[type="checkbox"] + label {display: inline-block;
        position: absolute; left: 0;
        cursor: pointer;
        -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;
        font-size: 15px;
        width: 100%;
    }
    input[type="checkbox"] + label {
        content: '';
        width: 22px;
        height: 22px;
        background-color: $color-white;
        border: 1px solid $color-primary;
        display: inline-block;
        position: absolute;left: 0;top: 50%;
        transform: translateY(-50%);
        border-radius: 2px;
        display: flex;
        align-items: center;
    }
    input[type="checkbox"] + label:before {
        content: '';
        display: inline-block;
        width: 3px;
        height: 10px;
        border-right: 3px solid $color-primary;
        border-bottom: 3px solid $color-primary;
        line-height: 3px;font-size: 17px;text-align: center;
        vertical-align: middle;
        position: absolute;left: 7px;top: 37%;
        transform: translateY(-50%) rotate(45deg);
        z-index: 5;
    }
    input[type="checkbox"]:checked + label {
        background-color: $color-primary;
    }
    input[type="checkbox"]:checked + label:before {
        border-color: $color-white;
    }
}
// INPUT
#login,
#dashboard{
    input[type=text],
    input[type=password]{
        border: 1px solid #eee;
        height: 55px;
        padding: 0 10px 0 10px;
        font-size: 16px;
        border-radius: 5px;
        width: 100%;
    }
    input[type=checkbox]{
        width: 18px;height: 18px;
    }
    select{
        // width: 105px;
        -webkit-appearance: none;
        background-repeat: no-repeat;
        background-size: 12px 7px;
        background-position: 90% center;
        background-image: url(/public/img/select-arrow.png);
        background-color: #fff;
        border: 1px solid #eee;
        border-radius: 5px;
        height: 55px;
        padding: 0 35px 0 15px ;
        font-size: 16px;
        &.table-full-select{
            width: 100%;
            border: none;
        }
    }
    .input-wrap{
        margin-bottom: 20px;
        position: relative;
        label{
            font-size: 14px;
            color: $color-black;
            display: block;
            margin-bottom: 10px;
        }
        small{
            font-size: 14px;
            color: $color-error;
            display: block;
            margin-top: 5px;
            display: none;
            &.on{
                display: block;
            }
        }
        .icon-password{
            position: absolute;
            right: 15px;
            top: 45px;
            z-index: 10;
            cursor: pointer;
            img{
                max-height: 24px;
                position: absolute;
                right: 0; top: 0;
                display: none;
                &.on{
                    display: block;
                }
            }
        }
        input[type=text],
        input[type=password],
        input[type=file]{
            width: 100%;
            padding: 20px;
            font-size: 16px;
            outline: none;
            border: none;
            background-color: #f7f7f7;
            border-radius: 5px;
        }
        &.input-add{
            width: 100%;
            .input-with-btn{
                margin-bottom: 10px;
            }
        }
        .input-with-btn{
            display: flex;
            align-items: center;
            position: relative;
            button{
                max-width: 100px;
                margin-left: 10px;
                width: 100%;
                padding: 16px;
                outline: none;
                font-weight: 500;
                font-size: 16px;
                height: 55px;
                border: 1px solid $color-primary;
                border-radius: 5px;
                cursor: pointer;
            }
            &.input-file-wrap{
                label{
                    position: absolute;
                    left: 20px;
                    top: 16px;
                    font-size: 16px;
                    color: $color-grey;
                    cursor: pointer;
                }
                input[type="file"]{
                    color: transparent;
                    height: 55px;
                    cursor: pointer;
                }
                input[type="file"]::-webkit-file-upload-button{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    right: 1px; top: 1px;
                    opacity: 0;
                    z-index: 10;
                    cursor: pointer;
                    color: transparent;
                }
            }
        }
        
    }
}
.radio-lists{
    display: flex;
    font-size: 16px;
    height: 55px;
    input[type=radio]{
        width: 18px!important;
        height: 18px!important;
        margin: 0 5px 0 0;
        cursor: pointer;
    }
    .radio-list{
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
        & + .radio-list{
            margin-left: 20px;
        }
    }
}
// DATEPICKER
#ui-datepicker-div{ 
    width: 100%;
    max-width:300px;
    background-color: #fff;
    box-shadow: 5px 10px 10px rgb(0 0 0 / 20%);
    padding: 20px 25px!important;
    position: relative;
    display: none;
    border: none!important;
    a {text-decoration: none;}
    table {width: 100%;}
    .ui-datepicker-header {
        height: 40px;
        background-color: #fff!important;
        color: #666;font-weight: 500; line-height: 40px;
        position: relative;
        margin: 0 10px;
        border: none!important
    }
    .ui-datepicker-title {
        text-align: center;
        line-height: 40px!important;
        display: flex;
        select{
            border: none!important;
            -webkit-appearance: none;
            background-repeat: no-repeat;
            background-size: 12px 7px;
            background-position: 90% center;
            background-image: url(/public/img/select-arrow.png);
            background-color: #fff;
            margin: 0 5px;
        }
    }
    .ui-datepicker-prev, .ui-datepicker-next {display: inline-block;
        width: 10px!important;height: 10px!important;
        text-align: center;text-indent: -9999px;
        cursor: pointer;
        overflow: hidden;
        border-radius: 0!important;
        border-left: 1px solid #333;
        border-top: 1px solid #333;
        position: absolute;top: 50%!important;
        transform: translateY(-50%)!important;
    }
    .ui-state-disabled.ui-datepicker-prev, 
    .ui-datepicker-next.ui-state-disabled{
        border-color: #ccc
    } 
    .ui-datepicker-prev {
        left: 0; 
        transform: translateY(-50%) rotate( -45deg)!important;
        span{
            visibility: hidden;
        }
    }
    .ui-datepicker-next {right: 0;
        transform: translateY(-50%) rotate( 135deg)!important;
        span{
            visibility: hidden;
        }
    }
    .ui-datepicker-calendar {
        th{
            line-height: 50px!important;   
        }
        td,th{
            text-align: center;  line-height: 35px;
            padding: 0;
            width: 30px; height: 30px;
            font-size: 13px; font-weight: 400;
        }
        thead{
            th{
                span{margin-bottom: 10px;}
                &:first-child{color: $color-error;}
                &:last-child{color: $color-primary;}
            }
        }
        .ui-state-disabled {color: #ccc!important; font-weight: 300;}
        td{
            a,span{
                width: 35px;
                display: inline-block;
                border-radius: 50%;
                font-size: 13px; font-weight: 400;
                background-color: #fff;
                border: none;
                height: 35px;
                text-align: center;
                display: inline-flex;
                justify-content: center; align-items: center;
            }
        }
        .ui-state-active {
            background-color: $color-primary!important;
            color: #FFE!important; 
        }
        .ui-state-hover {
            background: #f7f7f7;
            color: 333;
        }
    }
    .ui-datepicker-current { display: none; }
    .ui-datepicker-buttonpane{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 0;
        button{
           border: none; 
           font-size: 16px;
           padding: 10px 20px;
           font-weight: 500;
           border-radius: 5px;
           &.ui-priority-primary {
                background-color: $color-primary;
                color: $color-white;
           }
        }
    }
}

// MODAL
.custom-modal-type01{
    .modal-dialog{
        width: 100%;
        max-width: 1000px;
    }
    .modal-header{
        border: none;
        padding: 25px 25px 10px;
        h5{
            font-size: 25px;
            color: $color-grey;
        }
    }
    .modal-body{
        padding: 10px 25px 25px;
        .modal-search{
            max-width: 455px;
            .input-with-btn{
                display: flex;
            }
            input{
                border: 1px solid #eee!important;
                background-color: #fff;
                width: 100%;
                padding: 5px 15px;
                font-size: 16px;
                outline: none;
                border: none;
                border-radius: 5px;
                height: 45px;

            }
            button{
                max-width: 100px;
                margin-left: 10px;
                width: 100%;
                padding: 16px;
                outline: none;
                font-weight: 500;
                font-size: 16px;
                height: 45px;
                border: 1px solid $color-primary;
                border-radius: 5px;
                cursor: pointer;
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }
        }
        .dashboard-table-wrap{
            margin-bottom: 0;
        }
        .dashboard-table-contents{
            max-height: 500px;
            table {
                td,th{
                    padding: 10px;
                }
            }
        }
        >div{
            padding: 0;
            border-radius: 0;
            & + div{
                margin-top: 20px;
            }
        }
    }
}

// HEADER
#dashboard-header{
    z-index: 100;
    width: 230px;
    height: 100vh;
    background-color: $color-primary;
    padding: 55px 0 45px;
    position: fixed;
    left: 0; top: 0;
    .logo{
        text-align: center;
        img{
            max-width: 100%;
            height: 32px;
        }
    }
    nav{
        margin-top: 65px;
        .nav-category{
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: $color-white;
            padding: 0 20px;
            display: block;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        .nav-list{
            background-color: $color-primary;
            position: relative;
            a{
                padding: 15px 20px;
                display: flex;
                align-items: center;
                width: 100%;
            }
            .nav-icon-wrap{
                img{
                    max-height: 25px;
                }
            }
            .nav-title{
                font-size: 16px;
                font-weight: 500;
                color: $color-white;
                margin-left: 15px;
            }
            .nav-list-bar{
                width: 4px;
                height: 30px;
                display: inline-block;
                background-image: url(/public/img/nav-list-bar.png);
                background-repeat: no-repeat;
                background-size: 4px 30px;
                background-position: center ;
                position: absolute;
                right: 0; top: 50%;
                transform: translateY(-50%);
            }
            .active-icon{
               display: none;
            }
            // &:hover{
            //     background-color: $color-white;
            //     .nav-title{
            //         color: $color-primary;
            //     }
            //     .default-icon{
            //         display: none;
            //     }
            //     .active-icon{
            //         display: block;
            //     }
            // }
        }
        .nav-dropdowns{
            .nav-dropdown-header{
                padding: 15px 20px;
                display: flex;
                align-items: center;
                width: 100%;
                position: relative;
                cursor: pointer;
                &.active{
                    .nav-dropdown-bar{
                        &::before{
                            transform: rotate(90deg);
                        }
                    }
                }
            }
            .nav-dropdown-lists{
                display: none;
                overflow: hidden;
                a{
                    padding-left: 40px;
                }
                &.active{
                    display: block;
                }
            }
            .nav-dropdown-list{
                &:hover{
                    background: rgba(9, 87, 195, 0.05);
                }
            }
            .nav-dropdown-bar{
                position: absolute;
                right: 20px;
                top: 18px;
                &:before{
                    content:"";
                    width: 2px;
                    height: 16px;
                    background-color: $color-white;
                    display: inline-block;
                    position: absolute;
                    left: 0; top: 0;
                    transition: all 0.3s;
                }
                &:after{
                    content:"";
                    width: 2px;
                    height: 16px;
                    background-color: $color-white;
                    display: inline-block;
                    position: absolute;
                    left: 0; top: 0;
                    transform: rotate(90deg);
                    transition: all 0.3s;
                }
            }
            &:hover{
                .nav-dropdown-bar{
                    &:before,
                    &:after{
                        background-color: $color-primary;
                    }
                }
            }
           
        }
    }
    .header-profile-wrap{
        position: absolute;
        bottom: 25px;left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 15px;
        .profile-img-wrap{
            img{
                max-height: 60px;
            }
            margin-right: 10px;
        }
        .profile-name{
            font-size: 16px;
            color: $color-white;
            display: block;
            margin-bottom: 5px;
        }
        .logout{
            font-size: 14px;
            color: #fff;
            opacity: 0.6;
            display: block;
            text-decoration: underline;
        }
    }
}
.mobile-hamberger-menu{
    z-index: 110;
    position: fixed;
    left: 20px; top: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgb(0 0 0 / 10%);
    display: none;
    cursor: pointer;
    img{
        max-height: 35px;
    }
}
@media(max-width: 1000px){
    .mobile-hamberger-menu{
        display: block;
        transition: all 0.3s;
    &.active{
            left: 200px;
        }
    }
    #dashboard-header{
        padding-top: 105px;
        left: -9999px;
        transition: all 0.3s;
        &.active{
            left: 0;
        }
    }
    .mobile-hidden{
        display: block;
    }
    .pc-hidden{
        display: none;
    }
}
@media(max-width: 767px){
    .mobile-hamberger-menu{
        padding: 5px;
        width: 40px;
        height: 40px;
        img{
            max-height: 30px;
        }
    }
    
    
}