@media (max-width: 767px){
    // 메인대시보드
    .mainDashboard{
        td{
            br{
                display: none;
            }
        }
        // 메인 대시보드 : 10-1 회차 이용료 미납
        .table01{
            tbody{
                td{
                    &:nth-child(1){
                        &::before{
                            content:"업체"
                        }
                    }
                    &:nth-child(2){
                        &::before{
                            content:"청구금액"
                        }
                    }
                    &:nth-child(3){
                        &::before{
                            content:"연락처"
                        }
                    }
                    &:nth-child(4){
                        &::before{
                            content:"상세보기"
                        }
                    }
                }
            }
        }
        // 메인 대시보드 : 10월 만기 도래
        .table02{
            tbody{
                td{
                    &:nth-child(1){
                        &::before{
                            content:"차량번호"
                        }
                    }
                    &:nth-child(2){
                        &::before{
                            content:"만기일자"
                        }
                    }
                    &:nth-child(3){
                        &::before{
                            content:"잔여채권"
                        }
                    }
                    &:nth-child(4){
                        &::before{
                            content:"보증금"
                        }
                    }
                    &:nth-child(5){
                        &::before{
                            content:"상세보기"
                        }
                    }
                }
            }
        }
        // 메인 대시보드 : 보증금 미납
        .table03{
            tbody{
                td{
                    &:nth-child(1){
                        &::before{
                            content:"업체"
                        }
                    }
                    &:nth-child(2){
                        &::before{
                            content:"청구금액"
                        }
                    }
                    &:nth-child(3){
                        &::before{
                            content:"연락처"
                        }
                    }
                    &:nth-child(4){
                        &::before{
                            content:"상세보기"
                        }
                    }
                }
            }
        }
        // 메인 대시보드 : 10월 보험 만기 도래
        .table04{
            tbody{
                td{
                    &:nth-child(1){
                        &::before{
                            content:"차량번호"
                        }
                    }
                    &:nth-child(2){
                        &::before{
                            content:"만기일자"
                        }
                    }
                    &:nth-child(3){
                        &::before{
                            content:"계약자명"
                        }
                    }
                    &:nth-child(4){
                        &::before{
                            content:"상세보기"
                        }
                    }
                }
            }
        }
        // 메인 대시보드 : 통계
        .table05{
            tbody{
                td{
                    &:nth-child(1){
                        &::before{
                            content:"납부 할 총 금액"
                        }
                    }
                    &:nth-child(2){
                        &::before{
                            content:"납부한 총 금액"
                        }
                    }
                    &:nth-child(3){
                        &::before{
                            content:"청구수"
                        }
                    }
                }
            }
        }
        // 메인 대시보드 : 만기현황
        .table06{
            tbody{
                td{
                    &:nth-child(1){
                        &::before{
                            content:"만기차량"
                        }
                    }
                    &:nth-child(2){
                        &::before{
                            content:"미 처리건"
                        }
                    }
                }
            }
        }
        // 메인 대시보드 : 재고현황
        .table07{
            table{
                th{
                    display: block!important;
                }
                tr{
                    display: flex!important;
                    margin-bottom: 0!important;;
                }
                thead{
                    th{
                        width: 50%!important;
                    }
                }
                tbody{
                    th{
                        width: calc(100%/7)!important;
                    }
                    td{
                        justify-content: center!important;;
                    }
                }
                tr{
                    &::before{
                        display: none!important;
                    }
                }
            }
        }
        // 메인 대시보드 : 출고 현황
        .table08{
            tbody{
                td{
                    &:nth-child(1){
                        &::before{
                            content:"NO"
                        }
                    }
                    &:nth-child(2){
                        &::before{
                            content:"출고일"
                        }
                    }
                    &:nth-child(3){
                        &::before{
                            content:"차량"
                        }
                    }
                    &:nth-child(4){
                        &::before{
                            content:"가격"
                        }
                    }
                }
            }
        }
    }
    // 라이더 관리
    .shortermList{
        tbody{
            td{
                &:nth-child(1){
                    &::before{
                        content:"선택"
                    }
                }
                &:nth-child(2){
                    &::before{
                        content:"NO"
                    }
                }
                &:nth-child(3){
                    &::before{
                        content:"리스키"
                    }
                }
                &:nth-child(4){
                    &::before{
                        content:"계약유형"
                    }
                }
                &:nth-child(5){
                    &::before{
                        content:"계약자"
                    }
                }
                &:nth-child(6){
                    &::before{
                        content:"업체"
                    }
                }
                &:nth-child(7){
                    &::before{
                        content:"계약상태"
                    }
                }
                &:nth-child(8){
                    &::before{
                        content:"번호판"
                    }
                }
                &:nth-child(9){
                    &::before{
                        content:"차량정보"
                    }
                }
                &:nth-child(10){
                    &::before{
                        content:"계약금액"
                    }
                }
                &:nth-child(11){
                    &::before{
                        content:"적립포인트 (단위 :P)"
                    }
                }
                &:nth-child(12){
                    &::before{
                        content:"남은일/계약일"
                    }
                }
                &:nth-child(13){
                    &::before{
                        content:"계약 마감 날짜"
                    }
                }
                &:nth-child(14){
                    &::before{
                        content:"최종 수정 일시"
                    }
                }
                &:nth-child(15){
                    &::before{
                        content:"상세보기"
                    }
                }
            }
        }
    }
    // 라이더 신규신청
    .riderRegister{
        .list-type{
            width: 100%;
            th{
                display: none;
            }
            tbody{
                td{
                    &::before{
                        display: inline-block;
                        color: $color-primary;
                    }
                    &:nth-child(1){
                        &::before{
                            content:"NO"
                        }
                    }
                    &:nth-child(2){
                        &::before{
                            content:"신청번호"
                        }
                    }
                    &:nth-child(3){
                        &::before{
                            content:"상품종류"
                        }
                    }
                    &:nth-child(4){
                        &::before{
                            content:"오토바이 정보"
                        }
                    }
                    &:nth-child(5){
                        &::before{
                            content:"색상"
                        }
                    }
                    &:nth-child(6){
                        &::before{
                            content:"보험 정보"
                        }
                    }
                    &:nth-child(7){
                        &::before{
                            content:"튜닝파츠"
                        }
                    }
                    &:nth-child(8){
                        &::before{
                            content:"상태"
                        }
                    }
                    &:nth-child(9){
                        &::before{
                            content:"수정일"
                        }
                    }
                    &:nth-child(10){
                        &::before{
                            content:"등록일"
                        }
                    }
                    &:nth-child(11){
                        &::before{
                            content:"비고"
                        }
                    }
                    &:nth-child(12){
                        &::before{
                            content:"기능"
                        }
                    }
                }
            }
        }
    }
    // 계약 상세 내역
    .contactDetail_tab{
        // 계약 상세 내역 - 청구
        &.tab02{
            tbody{
                td{
                    &:nth-child(1){
                        &::before{
                            content:'NO'
                        }
                    }
                    &:nth-child(2){
                        &::before{
                            content:'업체'
                        }
                    }
                    &:nth-child(3){
                        &::before{
                            content:'시작일'
                        }
                    }
                    &:nth-child(4){
                        &::before{
                            content:'종료일'
                        }
                    }
                    &:nth-child(5){
                        &::before{
                            content:'청구일'
                        }
                    }
                    &:nth-child(6){
                        &::before{
                            content:'청구일수'
                        }
                    }
                    &:nth-child(7){
                        &::before{
                            content:'청구금액'
                        }
                    }
                    &:nth-child(8){
                        &::before{
                            content:'상태'
                        }
                    }
                    &:nth-child(9){
                        &::before{
                            content:'총입금액'
                        }
                    }
                    &:nth-child(10){
                        &::before{
                            content:'입금액'
                        }
                    }
                    &:nth-child(11){
                        &::before{
                            content:'입금일'
                        }
                    }
                }
            }
        }
        // 계약 상세 내역 - 보험
        &.tab03{
            tbody{
                td{
                    &:nth-child(1){
                        &::before{
                            content:'NO'
                        }
                    }
                    &:nth-child(2){
                        &::before{
                            content:'보험사'
                        }
                    }
                    &:nth-child(3){
                        &::before{
                            content:'연령'
                        }
                    }
                    &:nth-child(4){
                        &::before{
                            content:'보험유형'
                        }
                    }
                    &:nth-child(5){
                        &::before{
                            content:'시작일'
                        }
                    }
                    &:nth-child(6){
                        &::before{
                            content:'종료일'
                        }
                    }
                    &:nth-child(7){
                        &::before{
                            content:'청구금액'
                        }
                    }
                    &:nth-child(8){
                        &::before{
                            content:'기능'
                        }
                    }
                }
            }
        }
        // 계약 상세 내역 - 입금이력
        &.tab09{
            tbody{
                td{
                    &:nth-child(1){
                        &::before{
                            content:'NO'
                        }
                    }
                    &:nth-child(2){
                        &::before{
                            content:'리스키'
                        }
                    }
                    &:nth-child(3){
                        &::before{
                            content:'청구일'
                        }
                    }
                    &:nth-child(4){
                        &::before{
                            content:'청구 금액'
                        }
                    }
                    &:nth-child(5){
                        &::before{
                            content:'입금 금액'
                        }
                    }
                    &:nth-child(6){
                        &::before{
                            content:'입금일'
                        }
                    }
                    &:nth-child(7){
                        &::before{
                            content:'등록일'
                        }
                    }
                }
            }
        }
        // 계약 상세 내역 - 리스이력
        &.tab10{
            tbody{
                td{
                    &:nth-child(1){
                        &::before{
                            content:'NO'
                        }
                    }
                    &:nth-child(2){
                        &::before{
                            content:'리스키'
                        }
                    }
                    &:nth-child(3){
                        &::before{
                            content:'상태'
                        }
                    }
                    &:nth-child(4){
                        &::before{
                            content:'수정일'
                        }
                    }
                    &:nth-child(5){
                        &::before{
                            content:'등록일'
                        }
                    }
                    &:nth-child(6){
                        &::before{
                            content:'설명'
                        }
                    }
                }
            }
        }
        // 계약 상세 내역 - 청구수정
        &.tab11{
            tbody{
                td{
                    &:nth-child(1){
                        &::before{
                            content:'NO'
                        }
                    }
                    &:nth-child(2){
                        &::before{
                            content:'업체'
                        }
                    }
                    &:nth-child(3){
                        &::before{
                            content:'시작일'
                        }
                    }
                    &:nth-child(4){
                        &::before{
                            content:'종료일'
                        }
                    }
                    &:nth-child(5){
                        &::before{
                            content:'청구일'
                        }
                    }
                    &:nth-child(6){
                        &::before{
                            content:'청구일수'
                        }
                    }
                    &:nth-child(7){
                        &::before{
                            content:'청구 금액'
                        }
                    }
                    &:nth-child(8){
                        &::before{
                            content:'입금'
                        }
                    }
                    &:nth-child(8){
                        &::before{
                            content:'입금액'
                        }
                    }
                    &:nth-child(9){
                        &::before{
                            content:'번호'
                        }
                    }
                    &:nth-child(10){
                        &::before{
                            content:'회차'
                        }
                    }
                    &:nth-child(11){
                        &::before{
                            content:'기능'
                        }
                    }
                }
            }
        }
    }
    // 회원정보 관리 - 메모
    .detailList_memo{
        tbody{
            tr{
                &:before{
                    content:"memo"!important;
                }
            }
            td{
                &:nth-child(1){
                    &::before{
                        content:'NO'
                    }
                }
                &:nth-child(2){
                    &::before{
                        content:'메모 내용'
                    }
                }
                &:nth-child(3){
                    &::before{
                        content:'등록일'
                    }
                }
            }
        }
    }
}