@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body, a {
  font-family: "Pretendard";
  color: #222;
  line-height: 1.3;
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

.font-bold {
  font-weight: 600 !important;
}

.color-primary {
  color: #0957C3;
}

select,
input {
  outline: none;
}

.d-flex {
  display: flex;
  align-items: center;
}

.mobile-hidden {
  display: none;
}

button {
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
  color: #0957C3;
}
button.fill {
  border: none;
}
button.fill.primary {
  background-color: #0957C3;
  color: #fff;
}
button.fill.light-grey {
  background-color: #aaa;
  color: #666;
}
button.fill:hover {
  opacity: 0.9;
}
button.line {
  border: 1px solid #000;
  background-color: #fff;
}
button.line.primary {
  border-color: #0957C3;
  color: #0957C3;
}
button.line.primary:hover {
  background-color: #0957C3;
  color: #fff;
}
button.line.light-grey {
  border-color: #aaa;
  color: #666;
}
button.line.light-grey:hover {
  background-color: #aaa;
  color: #666;
}

table thead th {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
}

.custom-checkbox {
  position: relative;
  width: 120px;
}
.custom-checkbox .label-txt {
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-checkbox .label-txt small {
  font-size: 16px;
  font-weight: 400;
  color: #0957C3;
  display: inline-block;
  white-space: nowrap;
  line-height: 25px;
}
.custom-checkbox .label-txt .btn {
  background-color: transparent;
  border-radius: 0;
  border: none;
  outline: none;
  font-size: 14px;
  color: #888;
  text-decoration: underline;
  font-weight: 400;
  box-shadow: none;
  color: #888 !important;
}
.custom-checkbox input[type=checkbox] {
  width: 0;
  height: 0;
  opacity: 0;
  position: relative;
  left: 0;
  top: 0;
  z-index: 10000;
  cursor: pointer;
}
.custom-checkbox input[type=checkbox] + label {
  display: inline-block;
  position: absolute;
  left: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 15px;
  width: 100%;
}
.custom-checkbox input[type=checkbox] + label {
  content: "";
  width: 22px;
  height: 22px;
  background-color: #fff;
  border: 1px solid #0957C3;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
  display: flex;
  align-items: center;
}
.custom-checkbox input[type=checkbox] + label:before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 10px;
  border-right: 3px solid #0957C3;
  border-bottom: 3px solid #0957C3;
  line-height: 3px;
  font-size: 17px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left: 7px;
  top: 37%;
  transform: translateY(-50%) rotate(45deg);
  z-index: 5;
}
.custom-checkbox input[type=checkbox]:checked + label {
  background-color: #0957C3;
}
.custom-checkbox input[type=checkbox]:checked + label:before {
  border-color: #fff;
}

#login input[type=text],
#login input[type=password],
#dashboard input[type=text],
#dashboard input[type=password] {
  border: 1px solid #eee;
  height: 55px;
  padding: 0 10px 0 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
}
#login input[type=checkbox],
#dashboard input[type=checkbox] {
  width: 18px;
  height: 18px;
}
#login select,
#dashboard select {
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-size: 12px 7px;
  background-position: 90% center;
  background-image: url(/public/img/select-arrow.png);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  height: 55px;
  padding: 0 35px 0 15px;
  font-size: 16px;
}
#login select.table-full-select,
#dashboard select.table-full-select {
  width: 100%;
  border: none;
}
#login .input-wrap,
#dashboard .input-wrap {
  margin-bottom: 20px;
  position: relative;
}
#login .input-wrap label,
#dashboard .input-wrap label {
  font-size: 14px;
  color: #222;
  display: block;
  margin-bottom: 10px;
}
#login .input-wrap small,
#dashboard .input-wrap small {
  font-size: 14px;
  color: #DB0808;
  display: block;
  margin-top: 5px;
  display: none;
}
#login .input-wrap small.on,
#dashboard .input-wrap small.on {
  display: block;
}
#login .input-wrap .icon-password,
#dashboard .input-wrap .icon-password {
  position: absolute;
  right: 15px;
  top: 45px;
  z-index: 10;
  cursor: pointer;
}
#login .input-wrap .icon-password img,
#dashboard .input-wrap .icon-password img {
  max-height: 24px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
#login .input-wrap .icon-password img.on,
#dashboard .input-wrap .icon-password img.on {
  display: block;
}
#login .input-wrap input[type=text],
#login .input-wrap input[type=password],
#login .input-wrap input[type=file],
#dashboard .input-wrap input[type=text],
#dashboard .input-wrap input[type=password],
#dashboard .input-wrap input[type=file] {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: #f7f7f7;
  border-radius: 5px;
}
#login .input-wrap.input-add,
#dashboard .input-wrap.input-add {
  width: 100%;
}
#login .input-wrap.input-add .input-with-btn,
#dashboard .input-wrap.input-add .input-with-btn {
  margin-bottom: 10px;
}
#login .input-wrap .input-with-btn,
#dashboard .input-wrap .input-with-btn {
  display: flex;
  align-items: center;
  position: relative;
}
#login .input-wrap .input-with-btn button,
#dashboard .input-wrap .input-with-btn button {
  max-width: 100px;
  margin-left: 10px;
  width: 100%;
  padding: 16px;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  height: 55px;
  border: 1px solid #0957C3;
  border-radius: 5px;
  cursor: pointer;
}
#login .input-wrap .input-with-btn.input-file-wrap label,
#dashboard .input-wrap .input-with-btn.input-file-wrap label {
  position: absolute;
  left: 20px;
  top: 16px;
  font-size: 16px;
  color: #666;
  cursor: pointer;
}
#login .input-wrap .input-with-btn.input-file-wrap input[type=file],
#dashboard .input-wrap .input-with-btn.input-file-wrap input[type=file] {
  color: transparent;
  height: 55px;
  cursor: pointer;
}
#login .input-wrap .input-with-btn.input-file-wrap input[type=file]::-webkit-file-upload-button,
#dashboard .input-wrap .input-with-btn.input-file-wrap input[type=file]::-webkit-file-upload-button {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 1px;
  top: 1px;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
  color: transparent;
}

.radio-lists {
  display: flex;
  font-size: 16px;
  height: 55px;
}
.radio-lists input[type=radio] {
  width: 18px !important;
  height: 18px !important;
  margin: 0 5px 0 0;
  cursor: pointer;
}
.radio-lists .radio-list {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}
.radio-lists .radio-list + .radio-list {
  margin-left: 20px;
}

#ui-datepicker-div {
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 25px !important;
  position: relative;
  display: none;
  border: none !important;
}
#ui-datepicker-div a {
  text-decoration: none;
}
#ui-datepicker-div table {
  width: 100%;
}
#ui-datepicker-div .ui-datepicker-header {
  height: 40px;
  background-color: #fff !important;
  color: #666;
  font-weight: 500;
  line-height: 40px;
  position: relative;
  margin: 0 10px;
  border: none !important;
}
#ui-datepicker-div .ui-datepicker-title {
  text-align: center;
  line-height: 40px !important;
  display: flex;
}
#ui-datepicker-div .ui-datepicker-title select {
  border: none !important;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-size: 12px 7px;
  background-position: 90% center;
  background-image: url(/public/img/select-arrow.png);
  background-color: #fff;
  margin: 0 5px;
}
#ui-datepicker-div .ui-datepicker-prev, #ui-datepicker-div .ui-datepicker-next {
  display: inline-block;
  width: 10px !important;
  height: 10px !important;
  text-align: center;
  text-indent: -9999px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0 !important;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  position: absolute;
  top: 50% !important;
  transform: translateY(-50%) !important;
}
#ui-datepicker-div .ui-state-disabled.ui-datepicker-prev,
#ui-datepicker-div .ui-datepicker-next.ui-state-disabled {
  border-color: #ccc;
}
#ui-datepicker-div .ui-datepicker-prev {
  left: 0;
  transform: translateY(-50%) rotate(-45deg) !important;
}
#ui-datepicker-div .ui-datepicker-prev span {
  visibility: hidden;
}
#ui-datepicker-div .ui-datepicker-next {
  right: 0;
  transform: translateY(-50%) rotate(135deg) !important;
}
#ui-datepicker-div .ui-datepicker-next span {
  visibility: hidden;
}
#ui-datepicker-div .ui-datepicker-calendar th {
  line-height: 50px !important;
}
#ui-datepicker-div .ui-datepicker-calendar td, #ui-datepicker-div .ui-datepicker-calendar th {
  text-align: center;
  line-height: 35px;
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 13px;
  font-weight: 400;
}
#ui-datepicker-div .ui-datepicker-calendar thead th span {
  margin-bottom: 10px;
}
#ui-datepicker-div .ui-datepicker-calendar thead th:first-child {
  color: #DB0808;
}
#ui-datepicker-div .ui-datepicker-calendar thead th:last-child {
  color: #0957C3;
}
#ui-datepicker-div .ui-datepicker-calendar .ui-state-disabled {
  color: #ccc !important;
  font-weight: 300;
}
#ui-datepicker-div .ui-datepicker-calendar td a, #ui-datepicker-div .ui-datepicker-calendar td span {
  width: 35px;
  display: inline-block;
  border-radius: 50%;
  font-size: 13px;
  font-weight: 400;
  background-color: #fff;
  border: none;
  height: 35px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#ui-datepicker-div .ui-datepicker-calendar .ui-state-active {
  background-color: #0957C3 !important;
  color: #FFE !important;
}
#ui-datepicker-div .ui-datepicker-calendar .ui-state-hover {
  background: #f7f7f7;
  color: 333;
}
#ui-datepicker-div .ui-datepicker-current {
  display: none;
}
#ui-datepicker-div .ui-datepicker-buttonpane {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 0;
}
#ui-datepicker-div .ui-datepicker-buttonpane button {
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 5px;
}
#ui-datepicker-div .ui-datepicker-buttonpane button.ui-priority-primary {
  background-color: #0957C3;
  color: #fff;
}

.custom-modal-type01 .modal-dialog {
  width: 100%;
  max-width: 1000px;
}
.custom-modal-type01 .modal-header {
  border: none;
  padding: 25px 25px 10px;
}
.custom-modal-type01 .modal-header h5 {
  font-size: 25px;
  color: #666;
}
.custom-modal-type01 .modal-body {
  padding: 10px 25px 25px;
}
.custom-modal-type01 .modal-body .modal-search {
  max-width: 455px;
}
.custom-modal-type01 .modal-body .modal-search .input-with-btn {
  display: flex;
}
.custom-modal-type01 .modal-body .modal-search input {
  border: 1px solid #eee !important;
  background-color: #fff;
  width: 100%;
  padding: 5px 15px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 45px;
}
.custom-modal-type01 .modal-body .modal-search button {
  max-width: 100px;
  margin-left: 10px;
  width: 100%;
  padding: 16px;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  height: 45px;
  border: 1px solid #0957C3;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.custom-modal-type01 .modal-body .dashboard-table-wrap {
  margin-bottom: 0;
}
.custom-modal-type01 .modal-body .dashboard-table-contents {
  max-height: 500px;
}
.custom-modal-type01 .modal-body .dashboard-table-contents table td, .custom-modal-type01 .modal-body .dashboard-table-contents table th {
  padding: 10px;
}
.custom-modal-type01 .modal-body > div {
  padding: 0;
  border-radius: 0;
}
.custom-modal-type01 .modal-body > div + div {
  margin-top: 20px;
}

#dashboard-header {
  z-index: 100;
  width: 230px;
  height: 100vh;
  background-color: #0957C3;
  padding: 55px 0 45px;
  position: fixed;
  left: 0;
  top: 0;
}
#dashboard-header .logo {
  text-align: center;
}
#dashboard-header .logo img {
  max-width: 100%;
  height: 32px;
}
#dashboard-header nav {
  margin-top: 65px;
}
#dashboard-header nav .nav-category {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  padding: 0 20px;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#dashboard-header nav .nav-list {
  background-color: #0957C3;
  position: relative;
}
#dashboard-header nav .nav-list a {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  width: 100%;
}
#dashboard-header nav .nav-list .nav-icon-wrap img {
  max-height: 25px;
}
#dashboard-header nav .nav-list .nav-title {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-left: 15px;
}
#dashboard-header nav .nav-list .nav-list-bar {
  width: 4px;
  height: 30px;
  display: inline-block;
  background-image: url(/public/img/nav-list-bar.png);
  background-repeat: no-repeat;
  background-size: 4px 30px;
  background-position: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#dashboard-header nav .nav-list .active-icon {
  display: none;
}
#dashboard-header nav .nav-dropdowns .nav-dropdown-header {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  cursor: pointer;
}
#dashboard-header nav .nav-dropdowns .nav-dropdown-header.active .nav-dropdown-bar::before {
  transform: rotate(90deg);
}
#dashboard-header nav .nav-dropdowns .nav-dropdown-lists {
  display: none;
  overflow: hidden;
}
#dashboard-header nav .nav-dropdowns .nav-dropdown-lists a {
  padding-left: 40px;
}
#dashboard-header nav .nav-dropdowns .nav-dropdown-lists.active {
  display: block;
}
#dashboard-header nav .nav-dropdowns .nav-dropdown-list:hover {
  background: rgba(9, 87, 195, 0.05);
}
#dashboard-header nav .nav-dropdowns .nav-dropdown-bar {
  position: absolute;
  right: 20px;
  top: 18px;
}
#dashboard-header nav .nav-dropdowns .nav-dropdown-bar:before {
  content: "";
  width: 2px;
  height: 16px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s;
}
#dashboard-header nav .nav-dropdowns .nav-dropdown-bar:after {
  content: "";
  width: 2px;
  height: 16px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(90deg);
  transition: all 0.3s;
}
#dashboard-header nav .nav-dropdowns:hover .nav-dropdown-bar:before, #dashboard-header nav .nav-dropdowns:hover .nav-dropdown-bar:after {
  background-color: #0957C3;
}
#dashboard-header .header-profile-wrap {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
#dashboard-header .header-profile-wrap .profile-img-wrap {
  margin-right: 10px;
}
#dashboard-header .header-profile-wrap .profile-img-wrap img {
  max-height: 60px;
}
#dashboard-header .header-profile-wrap .profile-name {
  font-size: 16px;
  color: #fff;
  display: block;
  margin-bottom: 5px;
}
#dashboard-header .header-profile-wrap .logout {
  font-size: 14px;
  color: #fff;
  opacity: 0.6;
  display: block;
  text-decoration: underline;
}

.mobile-hamberger-menu {
  z-index: 110;
  position: fixed;
  left: 20px;
  top: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  display: none;
  cursor: pointer;
}
.mobile-hamberger-menu img {
  max-height: 35px;
}

@media (max-width: 1000px) {
  .mobile-hamberger-menu {
    display: block;
    transition: all 0.3s;
  }
  .mobile-hamberger-menu.active {
    left: 200px;
  }
  #dashboard-header {
    padding-top: 105px;
    left: -9999px;
    transition: all 0.3s;
  }
  #dashboard-header.active {
    left: 0;
  }
  .mobile-hidden {
    display: block;
  }
  .pc-hidden {
    display: none;
  }
}
@media (max-width: 767px) {
  .mobile-hamberger-menu {
    padding: 5px;
    width: 40px;
    height: 40px;
  }
  .mobile-hamberger-menu img {
    max-height: 30px;
  }
}
#login {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
#login section.login-left {
  max-width: 830px;
  width: 45vw;
  background-color: #0957C3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-image: url(/public/img/login-bg.jpg);
  padding: 110px;
}
#login section.login-left .logo {
  max-width: 100%;
  height: 72px;
  text-align: center;
}
#login section.login-left .logo img {
  max-width: 100%;
  max-height: 100%;
}
#login section.login-left strong {
  text-align: center;
  font-size: 25px;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  width: 100%;
  margin-top: 35px;
}
#login section.login-right {
  flex: 1;
  padding: 100px 50px 50px 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login section.login-right h1 {
  font-size: 35px;
  font-weight: 500;
  color: #0957C3;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  width: 100%;
  max-width: 530px;
}
#login section.login-right h1::before {
  content: "";
  width: 5px;
  height: 40px;
  display: inline-block;
  background-color: #0957C3;
  border-radius: 10px;
  margin-right: 15px;
}
#login section .form-login {
  max-width: 530px;
  width: 100%;
  overflow: scroll;
  height: 100vh;
}
#login section .form-login::-webkit-scrollbar {
  display: none;
}
#login section .form-register {
  max-width: 820px;
  overflow-y: scroll;
}
#login section .form-register::-webkit-scrollbar {
  display: none;
}
#login section .form-register .two-flex-input {
  display: flex;
  flex-wrap: wrap;
}
#login section .form-register .two-flex-input .input-wrap {
  width: calc(50% - 20px);
}
#login section .form-register .two-flex-input .input-wrap:nth-child(even) {
  margin-left: 20px;
}
#login section .form-register .register-corporate-details {
  padding-top: 30px;
}
#login section .form-register .register-corporate-details strong {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  display: block;
  text-align: left;
}
#login section form .btn-wrap {
  padding-top: 10px;
}
#login section form .btn-wrap > * {
  margin-bottom: 30px;
}
#login section form .btn-wrap .login-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #666;
}
#login section form .btn-wrap .login-extra a {
  color: inherit;
}
#login section form .btn-wrap .forget-lists {
  display: flex;
  align-content: center;
}
#login section form .btn-wrap .forget-lists li:nth-child(1)::after {
  content: "";
  width: 1px;
  height: 15px;
  background-color: #666;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
#login section form .btn-wrap .login-devider {
  position: relative;
  text-align: center;
}
#login section form .btn-wrap .login-devider .or {
  padding: 0 10px;
  background-color: #fff;
  text-align: center;
  color: #aaa;
  font-size: 16px;
  text-transform: uppercase;
  z-index: 10;
  position: relative;
}
#login section form .btn-wrap .login-devider .line {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #eee;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#login section form button {
  width: 100%;
  padding: 16px;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid #0957C3;
  border-radius: 5px;
  cursor: pointer;
}
#login.register {
  height: 100% !important;
  display: block !important;
}
#login.register .login-left {
  background: none;
  width: 100%;
  max-width: 100%;
  padding-bottom: 0;
}
#login.register .login-left strong {
  color: #0957C3;
}
#login.register form {
  height: 100%;
  overflow: visible;
}
#login.register .login-right {
  height: 100%;
}
#login.register .login-right h1 {
  max-width: 820px;
}
#login.register .logo {
  max-width: 100%;
  height: 72px;
  text-align: center;
}
#login.register .logo img {
  max-width: 100%;
  max-height: 100%;
}
#login.register strong {
  text-align: center;
  font-size: 25px;
  display: inline-block;
  font-weight: 400;
  width: 100%;
  margin-top: 35px;
}
#login.register label {
  text-align: left;
}

#dashboard-body {
  margin-left: 230px;
  padding: 56px 40px;
  min-height: 100vh;
  background-color: #F3F7FC;
}
#dashboard-body .dashboard-title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
}
#dashboard-body .dashboard-title h1 {
  font-size: 35px;
  font-weight: 500;
  margin-right: 25px;
}
#dashboard-body .dashboard-title .bread-scrumbs {
  display: flex;
  font-size: 18px;
}
#dashboard-body .dashboard-title .bread-scrumbs li:not(:last-child)::after {
  content: ">";
  display: inline-block;
  margin: 0 5px;
}
#dashboard-body .dashboard-tab-lists {
  display: flex;
}
#dashboard-body .dashboard-tab-lists li {
  font-size: 18px;
  color: #666;
  border-radius: 10px 10px 0 0;
  transition: all 0.3s;
}
#dashboard-body .dashboard-tab-lists li a {
  padding: 12px 50px;
  color: inherit;
  width: 100%;
  height: 100%;
  display: inline-block;
}
#dashboard-body .dashboard-tab-lists li:hover {
  background-color: #666;
  color: #fff;
}
#dashboard-body .dashboard-tab-lists li.active {
  background-color: #0957C3;
  color: #fff;
}
#dashboard-body .dashboard-summary-cards {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}
#dashboard-body .dashboard-summary-cards li {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 35px 30px;
}
#dashboard-body .dashboard-summary-cards li img {
  max-height: 65px;
}
#dashboard-body .dashboard-summary-cards li > span {
  margin-left: 20px;
}
#dashboard-body .dashboard-summary-cards li > span small {
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
}
#dashboard-body .dashboard-summary-cards li > span strong {
  display: block;
  font-size: 20px;
}
#dashboard-body .dashboard-summary-cards li > span strong .num {
  font-size: 35px;
}
#dashboard-body .dashboard-filter-wrap {
  display: flex;
  margin-bottom: 40px;
}
#dashboard-body .dashboard-filter-wrap button {
  margin-left: 20px;
  border: 1px solid #0957C3;
  background-color: #0957C3;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
}
#dashboard-body .dashboard-filter-content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
#dashboard-body .dashboard-filter-content.two-colum-filter {
  display: flex;
  flex-wrap: wrap;
}
#dashboard-body .dashboard-filter-content.two-colum-filter .filter-element-wrap {
  width: 50%;
}
#dashboard-body .dashboard-filter-content .datapickers-wrap,
#dashboard-body .dashboard-filter-content .datapicker-wrap,
#dashboard-body .dashboard-filter-content .filtering-lists {
  display: flex;
  align-items: center;
}
#dashboard-body .dashboard-filter-content .datapickers-wrap > span {
  display: inline-block;
  margin: 0 10px;
  font-size: 16px;
}
#dashboard-body .dashboard-filter-content .datapicker-wrap {
  position: relative;
}
#dashboard-body .dashboard-filter-content .datapicker-wrap figure {
  position: absolute;
  left: 10px;
  top: 12px;
}
#dashboard-body .dashboard-filter-content .datapicker-wrap img {
  max-height: 25px;
}
#dashboard-body .dashboard-filter-content .datapicker-wrap input {
  padding: 0 10px 0 45px;
}
#dashboard-body .dashboard-filter-content .filter-element-wrap {
  display: flex;
}
#dashboard-body .dashboard-filter-content .filter-element-wrap > div {
  display: flex;
  gap: 15px;
  padding: 10px 20px;
  background-color: #fff;
  flex: 1;
}
#dashboard-body .dashboard-filter-content .filter-element-wrap.car-num {
  width: 100%;
}
#dashboard-body .dashboard-filter-content .filter-element-wrap.car-num > div {
  flex-wrap: wrap;
}
#dashboard-body .dashboard-filter-content .filter-element-wrap.search {
  flex: 1;
}
#dashboard-body .dashboard-filter-content .filter-element-wrap.search input {
  width: 100%;
}
#dashboard-body .dashboard-filter-content .filter-title {
  min-width: 175px;
  display: inline-flex;
  padding: 20px;
  background-color: #eee;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
}
#dashboard-body .dashboard-filter-content .filtering-list {
  padding: 0 20px;
  height: 38px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  font-size: 14px;
  color: #666;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px;
}
#dashboard-body .dashboard-filter-content .filtering-list + .filtering-list {
  margin-left: 10px;
}
#dashboard-body .dashboard-filter-content .filtering-list:hover {
  background-color: #666;
  color: #fff;
}
#dashboard-body.contactDetail_tab .dashboard-tab-lists {
  overflow: scroll;
}
#dashboard-body.contactDetail_tab .dashboard-tab-lists li {
  white-space: nowrap;
}
#dashboard-body.contactDetail_tab .dashboard-tab-lists li a {
  padding: 12px 30px;
}

.dashboard-table-wrap {
  padding: 25px 40px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 40px;
}
.dashboard-table-wrap .input-wrap {
  margin-bottom: 0 !important;
}
.dashboard-table-wrap .input-wrap input {
  padding: 20px !important;
  font-size: 16px !important;
  max-height: 55px;
}
.dashboard-table-wrap .input-wrap button {
  padding: 10px 10px !important;
  max-width: -webkit-fit-content !important;
  max-width: -moz-fit-content !important;
  max-width: fit-content !important;
  white-space: nowrap;
}
.dashboard-table-wrap select {
  font-size: 16px;
}
.dashboard-table-wrap select.table-full-select {
  width: 100%;
  display: block;
  border: none;
  height: 55px;
  padding: 0 !important;
  background-position: 100% center !important;
}
.dashboard-table-wrap .dashboard-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.dashboard-table-wrap .dashboard-table-header p {
  font-size: 16px;
  color: #666;
}
.dashboard-table-wrap .dashboard-table-header p span {
  font-weight: 500;
}
.dashboard-table-wrap .dashboard-table-header .dashboard-right-contents .btn {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 10px;
  height: 40px;
  display: inline-block;
}
.dashboard-table-wrap .dashboard-table-header .dashboard-right-contents .btn a {
  color: #fff;
}
.dashboard-table-wrap .dashboard-table-header .dashboard-right-contents .btn.primary {
  background-color: #0957C3;
}
.dashboard-table-wrap .dashboard-table-header .dashboard-right-contents .btn.grey {
  background-color: #666;
}
.dashboard-table-wrap .dashboard-table-header .dashboard-right-contents .btn:nth-child(1) {
  margin-left: 0;
}
.dashboard-table-wrap .dashboard-table-header .dashboard-right-contents select {
  width: 105px;
  border: 1px solid #eee;
  border-radius: 5px;
  height: 40px;
  padding: 0 5px;
  font-size: 14px;
}
.dashboard-table-wrap .dashboard-table-header h2 {
  font-size: 25px;
  font-weight: 500;
  color: #444;
}
.dashboard-table-wrap .dashboard-table-contents {
  overflow-x: scroll;
  max-height: 700px;
  margin-bottom: 40px;
}
.dashboard-table-wrap .dashboard-table-contents.two-columns {
  overflow: visible;
}
.dashboard-table-wrap .dashboard-table-contents.two-columns input {
  border: none !important;
}
.dashboard-table-wrap .dashboard-table-contents.two-columns .account-info {
  display: flex;
  align-items: center;
}
.dashboard-table-wrap .dashboard-table-contents.two-columns .pay-date {
  white-space: nowrap;
  position: relative;
  padding-bottom: 30px;
  color: #666;
}
.dashboard-table-wrap .dashboard-table-contents.two-columns .pay-date select {
  margin: 0 10px;
}
.dashboard-table-wrap .dashboard-table-contents.two-columns .pay-date button {
  max-width: 100px;
  margin-left: 10px;
  width: 100%;
  padding: 0 16px;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #0957C3;
  border-radius: 5px;
  cursor: pointer;
  height: 45px;
  position: absolute;
  right: 0;
  top: 10px;
}
.dashboard-table-wrap .dashboard-table-contents.two-columns .pay-date small {
  position: absolute;
  left: 20px;
  bottom: 0;
  color: #DB0808;
  font-size: 14px;
}
.dashboard-table-wrap .dashboard-table-contents.two-columns .datapicker-wrap {
  display: flex;
  border: none;
  align-items: center;
}
.dashboard-table-wrap .dashboard-table-contents.two-columns .datapicker-wrap input {
  margin-left: 10px;
  color: #666;
}
.dashboard-table-wrap .dashboard-table-contents.two-columns .datapicker-wrap img {
  max-height: 25px;
  vertical-align: middle;
}
.dashboard-table-wrap .dashboard-table-contents.two-columns table {
  width: 100%;
}
.dashboard-table-wrap .dashboard-table-contents.two-columns .table-flex {
  display: flex;
  flex-wrap: wrap;
}
.dashboard-table-wrap .dashboard-table-contents.two-columns tr {
  width: 50%;
  flex: 1 50%;
  max-height: 75px;
}
.dashboard-table-wrap .dashboard-table-contents.two-columns tr.table-address {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  display: flex !important;
  vertical-align: middle;
}
.dashboard-table-wrap .dashboard-table-contents.two-columns tr.table-address th {
  display: inline-flex;
  align-items: center;
}
.dashboard-table-wrap .dashboard-table-contents.two-columns th {
  min-width: 225px;
  text-align: left;
  font-size: 16px;
  padding: 15px 20px;
}
.dashboard-table-wrap .dashboard-table-contents.two-columns td {
  flex: 1;
  width: 100%;
  text-align: left;
  padding: 15px 20px;
}
.dashboard-table-wrap .dashboard-table-contents.two-columns input {
  width: 100%;
  border: none;
  height: 55px;
  font-size: 16px;
}
.dashboard-table-wrap .select-lists {
  display: flex;
}
.dashboard-table-wrap .select-lists li {
  flex: 1;
}
.dashboard-table-wrap .select-lists li + li {
  margin-left: 20px;
}
.dashboard-table-wrap .table-add-btn {
  display: flex;
  margin-top: 50px;
}
.dashboard-table-wrap .table-add-btn button {
  padding: 10px 20px;
  font-size: 16px;
}
.dashboard-table-wrap .table-add-btn li + li {
  margin-left: 10px;
}
.dashboard-table-wrap table {
  width: 100%;
}
.dashboard-table-wrap table td,
.dashboard-table-wrap table th {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}
.dashboard-table-wrap table th {
  font-weight: 500;
  color: #fff;
  background-color: #0957C3;
  min-width: 155px;
}
.dashboard-table-wrap table th:nth-child(1), .dashboard-table-wrap table th:nth-child(2) {
  min-width: 75px;
}
.dashboard-table-wrap table th small {
  display: block;
  font-size: 12px;
  font-weight: 300;
  margin-top: 5px;
}
.dashboard-table-wrap table thead {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}
.dashboard-table-wrap table input[type=checkbox] {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.dashboard-table-wrap table .more {
  text-decoration: underline;
}

.table-btn-lists {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.table-btn-lists li button {
  width: 150px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.table-btn-lists li + li {
  margin-left: 15px;
}

.inrTable-btn-lists {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inrTable-btn-lists li {
  margin-left: 10px;
}
.inrTable-btn-lists li button {
  padding: 10px 15px;
}

.dashboard-pagination-wrap {
  margin-top: 40px;
}
.dashboard-pagination-wrap div,
.dashboard-pagination-wrap ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-pagination-wrap img {
  max-height: 45px;
}
.dashboard-pagination-wrap .next,
.dashboard-pagination-wrap .n-next {
  transform: rotate(180deg);
  cursor: pointer;
}
.dashboard-pagination-wrap .pagination-num {
  width: 45px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 5px;
  color: #aaa;
  cursor: pointer;
}
.dashboard-pagination-wrap .pagination-num:hover {
  background-color: #0957C3;
  color: #fff;
}

@media (max-width: 1400px) {
  #dashboard-body .dashboard-summary-cards {
    gap: 20px;
  }
  #dashboard-body .dashboard-summary-cards li {
    padding: 25px 20px;
  }
  #dashboard-body .dashboard-summary-cards li img {
    max-height: 50px;
  }
  #dashboard-body .dashboard-summary-cards li span strong .num {
    font-size: 30px;
  }
  #dashboard-body .dashboard-summary-cards,
#dashboard-body .dashboard-filter-wrap {
    margin-bottom: 20px;
  }
  #dashboard-body .dashboard-summary-cards .two-colum-filter,
#dashboard-body .dashboard-filter-wrap .two-colum-filter {
    display: block;
  }
  #dashboard-body .dashboard-summary-cards .two-colum-filter .filter-element-wrap,
#dashboard-body .dashboard-filter-wrap .two-colum-filter .filter-element-wrap {
    width: 100%;
  }
  #dashboard-body .dashboard-table-wrap {
    margin-bottom: 20px;
  }
  #dashboard-body .two-columns th {
    min-width: 145px;
  }
}
@media (max-width: 1200px) {
  #dashboard-body .dashboard-summary-cards li {
    display: block;
  }
  #dashboard-body .dashboard-filter-content .filter-title {
    min-width: 100px;
    width: 145px;
  }
  #dashboard-body .dashboard-filter-content .filter-element-wrap {
    flex: auto;
    width: 100%;
  }
  #dashboard-body .two-columns .table-flex {
    display: block;
  }
  #dashboard-body .two-columns .table-flex tr {
    width: 100%;
  }
  #dashboard-body .two-columns .table-flex th,
#dashboard-body .two-columns .table-flex td {
    padding: 15px 20px;
  }
  #dashboard-body .dashboard-table-header .dashboard-right-contents .btn {
    height: auto;
    padding: 10px;
  }
  #dashboard-body .dashboard-table-header .dashboard-right-contents select {
    height: 34px;
  }
  #login section.login-left .logo {
    height: 55px;
  }
  #login section.login-left strong {
    font-size: 20px;
    margin-top: 15px;
  }
  #login section.login-right {
    padding: 120px 50px 120px 50px;
  }
  #login section.login-right h1 {
    font-size: 30px;
  }
}
@media (max-width: 1000px) {
  #dashboard-body {
    margin-left: 0;
    padding: 100px 20px 50px 20px;
  }
  #dashboard-body .dashboard-filter-wrap {
    text-align: right;
    display: block;
  }
  #dashboard-body .dashboard-filter-wrap button {
    margin: 10px 0 0 0;
    padding: 10px 20px;
  }
  #dashboard-body .table-btn-lists li button {
    width: 120px;
    height: 55px;
    font-size: 16px;
  }
  #dashboard-body .table-btn-lists li + li {
    margin-left: 10px;
  }
  #login {
    background-color: #0957C3;
    display: block;
    padding: 0 16px;
  }
  #login .logo {
    display: flex;
    justify-content: center;
  }
  #login section.login-left {
    max-width: 100%;
    width: 100%;
    padding: 30px 16px;
    background-image: none;
  }
  #login section.login-left .logo {
    height: 35px;
  }
  #login section.login-left strong {
    font-size: 16px;
  }
  #login section.login-right {
    background-color: #fff;
    padding: 30px 16px;
    border-radius: 25px 25px 0 0;
  }
  #login section.login-right h1 {
    font-size: 25px;
    margin-bottom: 50px;
    max-width: 100%;
  }
  #login section.login-right h1::before {
    height: 30px;
  }
  #login section.login-right .form-login {
    max-width: 100%;
  }
  #login.register {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  #dashboard-body {
    background-color: #fff;
  }
  #dashboard-body .dashboard-summary-cards {
    flex-wrap: wrap;
    gap: 0;
  }
  #dashboard-body .dashboard-summary-cards li {
    min-width: 50%;
    display: flex;
    padding: 0;
    margin-bottom: 25px;
  }
  #dashboard-body .dashboard-summary-cards li > span small {
    font-size: 14px;
  }
  #dashboard-body .dashboard-summary-cards li > span strong {
    font-size: 16px;
  }
  #dashboard-body .dashboard-summary-cards li > span strong .num {
    font-size: 25px;
  }
  #dashboard-body .dashboard-tab-lists {
    padding: 0;
  }
  #dashboard-body .dashboard-tab-lists li a {
    padding: 10px 15px;
    font-size: 16px;
    text-decoration: none;
  }
  #dashboard-body .dashboard-filter-content select {
    width: 100%;
  }
  #dashboard-body .dashboard-filter-content .filter-element-wrap {
    display: block;
    width: 100%;
    text-align: left;
  }
  #dashboard-body .dashboard-filter-content .filter-element-wrap.search select {
    width: 105px;
  }
  #dashboard-body .dashboard-filter-content .filter-element-wrap > div {
    padding: 10px 0;
  }
  #dashboard-body .dashboard-filter-content .filter-element-wrap .filter-title {
    min-width: 100%;
    padding: 15px 20px;
  }
  #dashboard-body .dashboard-filter-content .filter-element-wrap .filtering-list {
    padding: 0 10px;
  }
  #dashboard-body .two-columns input,
#dashboard-body .two-columns select,
#dashboard-body .two-columns button {
    max-height: 45px;
    height: 45px;
    padding: 0;
  }
  #dashboard-body .two-columns .input-with-btn {
    display: block;
  }
  #dashboard-body .two-columns .input-with-btn button {
    margin-left: 0;
    margin-top: 5px;
    min-width: 100%;
    height: 40px;
    padding: 0 !important;
  }
  #dashboard-body .two-columns .account-info {
    display: block;
  }
  #dashboard-body .two-columns .account-info select {
    border: none;
    width: 100%;
    padding: 0;
  }
  #dashboard-body .two-columns .pay-date {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #dashboard-body .two-columns .pay-date select {
    margin: 5px 0;
    padding: 0;
  }
  #dashboard-body .two-columns .pay-date button {
    position: static;
    margin: 20px 0;
    min-width: 100%;
  }
  #dashboard-body .two-columns .table-flex {
    display: block;
  }
  #dashboard-body .two-columns .table-flex tr {
    width: 100%;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  #dashboard-body .two-columns .table-flex th,
#dashboard-body .two-columns .table-flex td {
    padding: 10px 0 10px 20px;
  }
  #dashboard-body .two-columns .table-flex th {
    min-width: 150px;
  }
  #dashboard-body h2 {
    font-size: 20px;
  }
  #dashboard-body .dashboard-title {
    display: block;
    width: 100%;
  }
  #dashboard-body .dashboard-title h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  #dashboard-body .dashboard-title li {
    font-size: 14px;
  }
  #dashboard-body .dashboard-table-wrap {
    padding: 20px 0;
  }
  #dashboard-body .dashboard-table-wrap .dashboard-table-header p {
    margin-bottom: 20px;
  }
  #dashboard-body .two-columns tr {
    display: block;
  }
  #dashboard-body .dashboard-table-wrap .table-add-btn button {
    padding: 5px 10px;
    font-size: 16px;
  }
  .dashboard-table-contents:not(.two-columns) table {
    width: 100%;
  }
  .dashboard-table-contents:not(.two-columns) table th {
    display: none;
  }
  .dashboard-table-contents:not(.two-columns) table tbody tr {
    display: block;
    width: 100%;
    margin-bottom: 35px;
  }
  .dashboard-table-contents:not(.two-columns) table tbody tr::before {
    content: "Client";
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
  }
  .dashboard-table-contents:not(.two-columns) table tbody tr td {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .dashboard-table-contents:not(.two-columns) table tbody tr td::before {
    display: inline-block;
    color: #0957C3;
  }
  .shortermList tbody td:nth-child(1)::before {
    content: "선택";
  }
  .shortermList tbody td:nth-child(2)::before {
    content: "NO";
  }
  .shortermList tbody td:nth-child(3)::before {
    content: "리스키";
  }
  .shortermList tbody td:nth-child(4)::before {
    content: "계약유형";
  }
  .shortermList tbody td:nth-child(5)::before {
    content: "계약자";
  }
  .shortermList tbody td:nth-child(6)::before {
    content: "업체";
  }
  .shortermList tbody td:nth-child(7)::before {
    content: "계약상태";
  }
  .shortermList tbody td:nth-child(8)::before {
    content: "번호판";
  }
  .shortermList tbody td:nth-child(9)::before {
    content: "차량정보";
  }
  .shortermList tbody td:nth-child(10)::before {
    content: "계약금액";
  }
  .shortermList tbody td:nth-child(11)::before {
    content: "적립포인트 (단위 :P)";
  }
  .shortermList tbody td:nth-child(12)::before {
    content: "남은일/계약일";
  }
  .shortermList tbody td:nth-child(13)::before {
    content: "계약 마감 날짜";
  }
  .shortermList tbody td:nth-child(14)::before {
    content: "최종 수정 일시";
  }
  .shortermList tbody td:nth-child(15)::before {
    content: "상세보기";
  }
  .riderRegister .list-type {
    width: 100%;
  }
  .riderRegister .list-type th {
    display: none;
  }
  .riderRegister .list-type tbody td::before {
    display: inline-block;
    color: #0957C3;
  }
  .riderRegister .list-type tbody td:nth-child(1)::before {
    content: "NO";
  }
  .riderRegister .list-type tbody td:nth-child(2)::before {
    content: "신청번호";
  }
  .riderRegister .list-type tbody td:nth-child(3)::before {
    content: "상품종류";
  }
  .riderRegister .list-type tbody td:nth-child(4)::before {
    content: "오토바이 정보";
  }
  .riderRegister .list-type tbody td:nth-child(5)::before {
    content: "색상";
  }
  .riderRegister .list-type tbody td:nth-child(6)::before {
    content: "보험 정보";
  }
  .riderRegister .list-type tbody td:nth-child(7)::before {
    content: "튜닝파츠";
  }
  .riderRegister .list-type tbody td:nth-child(8)::before {
    content: "상태";
  }
  .riderRegister .list-type tbody td:nth-child(9)::before {
    content: "수정일";
  }
  .riderRegister .list-type tbody td:nth-child(10)::before {
    content: "등록일";
  }
  .riderRegister .list-type tbody td:nth-child(11)::before {
    content: "비고";
  }
  .riderRegister .list-type tbody td:nth-child(12)::before {
    content: "기능";
  }
  .contactDetail_tab.tab02 tbody td:nth-child(1)::before {
    content: "NO";
  }
  .contactDetail_tab.tab02 tbody td:nth-child(2)::before {
    content: "업체";
  }
  .contactDetail_tab.tab02 tbody td:nth-child(3)::before {
    content: "시작일";
  }
  .contactDetail_tab.tab02 tbody td:nth-child(4)::before {
    content: "종료일";
  }
  .contactDetail_tab.tab02 tbody td:nth-child(5)::before {
    content: "청구일";
  }
  .contactDetail_tab.tab02 tbody td:nth-child(6)::before {
    content: "청구일수";
  }
  .contactDetail_tab.tab02 tbody td:nth-child(7)::before {
    content: "청구금액";
  }
  .contactDetail_tab.tab02 tbody td:nth-child(8)::before {
    content: "상태";
  }
  .contactDetail_tab.tab02 tbody td:nth-child(9)::before {
    content: "총입금액";
  }
  .contactDetail_tab.tab02 tbody td:nth-child(10)::before {
    content: "입금액";
  }
  .contactDetail_tab.tab02 tbody td:nth-child(11)::before {
    content: "입금일";
  }
  .contactDetail_tab.tab03 tbody td:nth-child(1)::before {
    content: "NO";
  }
  .contactDetail_tab.tab03 tbody td:nth-child(2)::before {
    content: "보험사";
  }
  .contactDetail_tab.tab03 tbody td:nth-child(3)::before {
    content: "연령";
  }
  .contactDetail_tab.tab03 tbody td:nth-child(4)::before {
    content: "보험유형";
  }
  .contactDetail_tab.tab03 tbody td:nth-child(5)::before {
    content: "시작일";
  }
  .contactDetail_tab.tab03 tbody td:nth-child(6)::before {
    content: "종료일";
  }
  .contactDetail_tab.tab03 tbody td:nth-child(7)::before {
    content: "청구금액";
  }
  .contactDetail_tab.tab03 tbody td:nth-child(8)::before {
    content: "기능";
  }
  .contactDetail_tab.tab09 tbody td:nth-child(1)::before {
    content: "NO";
  }
  .contactDetail_tab.tab09 tbody td:nth-child(2)::before {
    content: "리스키";
  }
  .contactDetail_tab.tab09 tbody td:nth-child(3)::before {
    content: "청구일";
  }
  .contactDetail_tab.tab09 tbody td:nth-child(4)::before {
    content: "청구 금액";
  }
  .contactDetail_tab.tab09 tbody td:nth-child(5)::before {
    content: "입금 금액";
  }
  .contactDetail_tab.tab09 tbody td:nth-child(6)::before {
    content: "입금일";
  }
  .contactDetail_tab.tab09 tbody td:nth-child(7)::before {
    content: "등록일";
  }
  .contactDetail_tab.tab10 tbody td:nth-child(1)::before {
    content: "NO";
  }
  .contactDetail_tab.tab10 tbody td:nth-child(2)::before {
    content: "리스키";
  }
  .contactDetail_tab.tab10 tbody td:nth-child(3)::before {
    content: "상태";
  }
  .contactDetail_tab.tab10 tbody td:nth-child(4)::before {
    content: "수정일";
  }
  .contactDetail_tab.tab10 tbody td:nth-child(5)::before {
    content: "등록일";
  }
  .contactDetail_tab.tab10 tbody td:nth-child(6)::before {
    content: "설명";
  }
  .contactDetail_tab.tab11 tbody td:nth-child(1)::before {
    content: "NO";
  }
  .contactDetail_tab.tab11 tbody td:nth-child(2)::before {
    content: "업체";
  }
  .contactDetail_tab.tab11 tbody td:nth-child(3)::before {
    content: "시작일";
  }
  .contactDetail_tab.tab11 tbody td:nth-child(4)::before {
    content: "종료일";
  }
  .contactDetail_tab.tab11 tbody td:nth-child(5)::before {
    content: "청구일";
  }
  .contactDetail_tab.tab11 tbody td:nth-child(6)::before {
    content: "청구일수";
  }
  .contactDetail_tab.tab11 tbody td:nth-child(7)::before {
    content: "청구 금액";
  }
  .contactDetail_tab.tab11 tbody td:nth-child(8)::before {
    content: "입금";
  }
  .contactDetail_tab.tab11 tbody td:nth-child(8)::before {
    content: "입금액";
  }
  .contactDetail_tab.tab11 tbody td:nth-child(9)::before {
    content: "번호";
  }
  .contactDetail_tab.tab11 tbody td:nth-child(10)::before {
    content: "회차";
  }
  .contactDetail_tab.tab11 tbody td:nth-child(11)::before {
    content: "기능";
  }
  .dashboard-pagination-wrap img {
    max-height: 35px;
  }
  .dashboard-pagination-wrap .pagination-num {
    width: 35px;
    height: 35px;
  }
  #login section.login-left {
    padding: 50px 16px !important;
  }
  #login section.login-right h1 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  #login section.login-right h1::before {
    height: 25px;
  }
  #login section .form-register .two-flex-input .input-wrap {
    width: 100%;
  }
  #login section .form-register .two-flex-input .input-wrap:nth-child(even) {
    margin-left: 0;
  }
  #login section form .input-wrap input {
    padding: 15px;
    font-size: 14px;
  }
  #login section form button {
    font-size: 16px;
    padding: 14px;
    cursor: pointer;
  }
  #login section form .btn-wrap .login-extra {
    font-size: 14px !important;
  }
  #login section form .btn-wrap .login-extra small {
    font-size: 14px !important;
  }
  #login section form .btn-wrap .login-devider .or {
    font-size: 12px;
  }
  #login section form .custom-checkbox input[type=checkbox] + label {
    width: 20px;
    height: 20px;
  }
  #login section form .custom-checkbox input[type=checkbox] + label:before {
    width: 3px;
    height: 9px;
    border-right: 2px solid #0957C3;
    border-bottom: 2px solid #0957C3;
    top: 39%;
  }
  #login.register .login-left strong {
    color: #fff;
  }
}/*# sourceMappingURL=app.css.map */